<h4 style="margin:12px 0 6px">附件</h4>
<table class="grid">
  <thead><tr><th>文件名</th><th style="width:88px">大小</th><th style="width:150px">上传时间</th><th style="width:64px">操作</th></tr></thead>
  <tbody>
    {{#each rows}}
    <tr>
      <td>{{fileName}}</td>
      <td>{{sizeText}}</td>
      <td>{{createdAt}}</td>
      <td>{{#if canDel}}<a class="btn sm" href="#" data-attach-del="{{id}}">删除</a>{{/if}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{#if empty}}<p class="tip">还没有附件</p>{{/if}}
<div style="margin-top:8px">
  <input type="file" data-attach-file>
  <span class="tip" data-attach-status></span>
</div>
