<div class="card">
  <header>表单定义{{#if canCreate}}<a class="btn pri" style="float:right" href="/admin/oa/forms/form" data-dialog data-title="新建表单">新建表单</a>{{/if}}</header>
  <table class="table">
    <thead><tr><th>名称</th><th class="muted" style="width:130px">标识</th><th style="width:130px">流程绑定</th><th class="mid" style="width:70px">状态</th><th class="mid" style="width:70px">提交</th><th class="mid" style="width:150px">创建时间</th><th class="ops" style="width:200px">操作</th></tr></thead>
    <tbody>
      {{#each rows}}
      <tr>
        <td>
          <a href="/admin/oa/forms/preview?id={{id}}" data-dialog data-title="预览：{{name}}">{{name}}</a>
          {{#if description}}<div class="muted" style="font-size:12px">{{description}}</div>{{/if}}
        </td>
        <td class="muted">{{code}}</td>
        <td class="muted">{{flowName}}</td>
        <td class="mid">{{#if status}}<span class="tag ok">启用</span>{{else}}<span class="tag">停用</span>{{/if}}</td>
        <td class="mid">{{#if locked}}<a href="/admin/oa/formfill/all?formId={{id}}" data-title="提交记录">{{subs}}</a>{{else}}<span class="muted">{{subs}}</span>{{/if}}</td>
        <td class="muted mid">{{createdAt}}</td>
        <td class="ops">
          <a href="/admin/oa/forms/preview?id={{id}}" data-dialog data-title="预览：{{name}}">预览</a>
          {{#if canEdit}}<a href="/admin/oa/forms/form?id={{id}}" data-dialog data-title="编辑表单">编辑</a>{{/if}}
          {{#if canUpdate}}<a href="#" data-post="/admin/oa/forms/status" data-args="id={{id}}">{{statusNext}}</a>{{/if}}
          {{#if canDel}}{{#if locked}}<span class="muted" data-title="已有提交记录，不可删除">删除</span>{{else}}<a href="#" data-post="/admin/oa/forms/delete" data-args="id={{id}}" data-confirm="确定删除该表单吗？">删除</a>{{/if}}{{/if}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if empty}}<div class="empty">还没有表单定义，点右上角「新建表单」创建第一个</div>{{/if}}
</div>
