<div class="card">
  <header>文档空间{{#if canCreate}}<a class="btn pri" style="float:right" href="/admin/oa/spaces/form" data-dialog data-title="新建空间">新建空间</a>{{/if}}</header>
  <table class="table">
    <thead><tr><th>名称</th><th>说明</th><th class="mid" style="width:90px">文档数</th><th class="mid" style="width:150px">更新时间</th><th class="mid" style="width:160px">操作</th></tr></thead>
    <tbody>
      {{#each rows}}
      <tr>
        <td><a href="/admin/oa/docs?spaceId={{id}}" data-tab data-title="文档中心">{{name}}</a></td>
        <td class="muted">{{description}}</td>
        <td class="mid">{{docCount}}</td>
        <td class="muted mid">{{updatedAt}}</td>
        <td class="mid">
          {{#if canUpdate}}<a href="/admin/oa/spaces/form?id={{id}}" data-dialog data-title="编辑空间">编辑</a>{{/if}}
          {{#if canDelete}}<a href="#" data-post="/admin/oa/spaces/delete" data-args="id={{id}}" data-confirm="空间删除后其中的文档不会删除，确定删除该空间吗？">删除</a>{{/if}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if empty}}<div class="empty">还没有空间，点右上角「新建空间」开始</div>{{/if}}
</div>
