<div class="card">
  <form class="toolbar" data-search action="/admin/ecbi/platforms">
    <span class="sp"></span>
    {{#if canCreate}}<a class="btn sm primary" href="/admin/ecbi/platforms/form" data-dialog>新增平台</a>{{/if}}
  </form>
  <table class="table">
    <thead>
      <tr>
        <th class="num" style="width:56px">ID</th>
        <th style="width:160px">平台</th>
        <th style="width:120px">编码</th>
        <th class="mid" style="width:72px">状态</th>
        <th class="ops">操作</th>
      </tr>
    </thead>
    <tbody>
      {{#each rows}}
      <tr>
        <td class="num muted">{{id}}</td>
        <td>{{name}}</td>
        <td class="muted">{{code}}</td>
        <td class="mid"><span class="tag {{statusClass}}">{{statusText}}</span></td>
        <td class="ops">
          {{#if canUpdate}}<a href="/admin/ecbi/platforms/form?id={{id}}" data-dialog>编辑</a>
          <a href="#" data-post="/admin/ecbi/platforms/status" data-args="id={{id}}&status={{nextStatus}}">{{toggleText}}</a>{{/if}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if empty}}<div class="empty">还没有平台，点右上角「新增平台」</div>{{/if}}
</div>
