<div class="card">
  <form class="toolbar" data-search action="/admin/ecbi/shops">
    <span class="sp"></span>
    {{#if canCreate}}<a class="btn sm primary" href="/admin/ecbi/shops/form" data-dialog>新增店铺</a>{{/if}}
  </form>
  <table class="table">
    <thead>
      <tr>
        <th class="num" style="width:56px">ID</th>
        <th style="width:200px">店铺</th>
        <th style="width:140px">所属平台</th>
        <th class="mid" style="width:72px">状态</th>
        <th class="ops">操作</th>
      </tr>
    </thead>
    <tbody>
      {{#each rows}}
      <tr>
        <td class="num muted">{{id}}</td>
        <td>{{name}}</td>
        <td class="muted">{{platform}}</td>
        <td class="mid"><span class="tag {{statusClass}}">{{statusText}}</span></td>
        <td class="ops">
          {{#if canUpdate}}<a href="/admin/ecbi/shops/form?id={{id}}" data-dialog>编辑</a>
          <a href="#" data-post="/admin/ecbi/shops/status" data-args="id={{id}}&status={{nextStatus}}">{{toggleText}}</a>{{/if}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if empty}}<div class="empty">还没有店铺，先到「平台管理」建平台，再回到这里建店铺</div>{{/if}}
</div>
