<div class="card">
  <div class="toolbar">
    <span class="muted">共 {{total}} 个分类</span>
    <span class="sp"></span>
    {{#if canCreate}}<a class="btn sm primary" href="/admin/content/categories/form" data-dialog>新增分类</a>{{/if}}
  </div>
  <table class="table">
    <thead>
      <tr>
        <th class="num" style="width:56px">ID</th>
        <th style="width:160px">名称</th>
        <th style="width:160px">别名</th>
        <th>说明</th>
        <th class="num" style="width:64px">排序</th>
        <th class="num" style="width:72px">文章数</th>
        <th class="ops">操作</th>
      </tr>
    </thead>
    <tbody>
      {{#each rows}}
      <tr>
        <td class="num muted">{{id}}</td>
        <td>{{name}}</td>
        <td class="mono muted">{{slug}}</td>
        <td class="ellip">{{description}}</td>
        <td class="num">{{sortOrder}}</td>
        <td class="num">{{posts}}</td>
        <td class="ops">
          {{#if canUpdate}}<a href="/admin/content/categories/form?id={{id}}" data-dialog>编辑</a>{{/if}}
          {{#if canDelete}}<a href="#" data-post="/admin/content/categories/delete" data-args="id={{id}}" data-confirm="确定删除该分类吗？">删除</a>{{/if}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if empty}}<div class="empty">还没有分类</div>{{/if}}
</div>
