<div class="code-preview">
  <div class="subtabs" data-code-tabs>
    <button class="subtab on" type="button" data-code="model">Model</button>
    <button class="subtab" type="button" data-code="controller">Controller</button>
    <button class="subtab" type="button" data-code="dao">Dao</button>
    <button class="subtab" type="button" data-code="list">列表视图</button>
    <button class="subtab" type="button" data-code="form">表单视图</button>
  </div>
  <pre class="code open" data-code-body="model">{{model}}</pre>
  <pre class="code" data-code-body="controller">{{controller}}</pre>
  <pre class="code" data-code-body="dao">{{dao}}</pre>
  <pre class="code" data-code-body="list">{{list}}</pre>
  <pre class="code" data-code-body="form">{{form}}</pre>
</div>
